@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #f1f5f8;
  display: flex;
  flex-direction: column;
  height: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 2;
  width: 100%;
  border-bottom: 1px solid #ebeff3;
  height: 57px;
}

#app-logo {
  width: 150px;
}

.login-card-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

form {
  margin: auto;
}

.login-card {
  margin-top: 48px;
  border-radius: 6px;
  padding: 28px 24px 28px 24px;
  box-shadow: 3px 4px 10px rgba(36, 50, 57, 0.03);
  background-color: #fff;
  width: 484px;
  box-sizing: border-box;
}

.login-card-title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  max-width: 380px;
  margin-bottom: 22px;
}

.login-card-paragraph {
  margin-bottom: 22px;
  font-size: 1rem;
  color: #505d6b;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0;
  gap: 20px;
}

.input-box {
  height: 42px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  padding: 12px 10px 14px;
  background-color: transparent;
  z-index: 1;
  border: 1px solid #e0e1e2;
  border-radius: 5px;
  transition: border 0.2s;
}

.field-input p {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 4px;
}

.input-box:hover {
  border: 1px solid #969696;
}

.input-box:focus {
  border: 1px solid #4fe3ea;
  outline: none;
}

#password-input {
  vertical-align: center;
}

.checkbox-validation-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

#checkbox-input {
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 2px solid grey;
  accent-color: #287175;
  background-color: white;
}

#checkbox-input:focus {
  outline: none;
}

.checkbox-label-container p {
  font-size: 0.82rem;
}

.checkbox-label-container p a {
  color: #44c0c7;
}

.sign-in-button,
.sign-up-button {
  height: 40px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  z-index: 1;
  border-radius: 5px;
  color: white;
  background-color: #36999e;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.sign-in-button:hover,
.sign-up-button:hover {
  background-color: #287175;
}

.login-alternative {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 0.05em;
  color: #808e9d;
}

#google-login-link,
#google-sign-up-link {
  position: relative;
  height: 40px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  background-color: transparent;
  z-index: 1;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1rem;
  gap: 5px;
}

#google-login-link:hover,
#sign-up-link:hover,
#google-sign-up-link:hover {
  border: 1px solid #4fe3ea;
  color: #4fe3ea;
}

.google-logo {
  position: absolute;
  width: 25px;
  height: 25px;
  /* background-color: pink; */
  left: 7px;
}

.google-sign-up-logo {
  position: static;
}

.divider {
  border: none;
  height: 1px;
  margin: 7px 0 7px 0;
  flex-shrink: 0;
  background-color: #dfe6ed;
  align-self: center;
  width: 344px;
}

#sign-up-link {
  position: relative;
  height: 40px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  background-color: transparent;
  z-index: 1;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
}

#forgot-password-link {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #808e9d;
  text-align: center;
  margin-top: 10px;
}
